.col{
    max-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#michigan{
    background-image: url("img/michigan.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

#arizona{
    background-image: url("img/arizona.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

#duke{
    background-image: url("img/duke.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

#houston{
    background-image: url("img/houston.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

#gonzaga{
    background-image: url("img/gonzaga.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

#purdue{
    background-image: url("img/purdue.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: FadeIn 2s;
}

.FadeIn{
    animation: FadeIn 2s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    
  }
  
  100% {
    opacity: 1;
    display: show;
    
  }
  
}